
.my-tasks-main {
    padding-top: 40px;
    padding-bottom: 100px;

    .my-tasks-title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 3px solid #47BBD0;
        padding-bottom: 20px;
        margin-bottom: 20px;
    
        h4 {
            margin-bottom: 0;
            line-height: 29px;
        }

        .my-tasks-menu {
            ul {
                margin-bottom: 0;
    
                li {
                    display: inline-block;
                    margin-left: 20px;
    
                    a {
                        color: #20272B;
    
                        &.activelink {
                            color: #47BBD0;
                        }
                    }
                }
            }
        }
    }
 
    .my-tasksBox {
        display: none;
        &.active {
            display: block;
        }
    }

    .my-tasks-col {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #E8E9E9;
        margin-bottom: 20px;
        padding-bottom: 20px;
        align-items: center;

        p {
            margin-bottom: 22px;
        }

        .my-tasks-info {
            display: flex;
             width: calc(100% - 320px);
 
            figure {
                width: 189px;
                height: 120px;
                border-radius: 4px;
                background: #FDE3C8;

                img {
                    @include img-object;
                }
            }
            
            .my-tasks-about {
                width: calc(100% - 189px);
                padding-left: 20px;

                .list-trinid {
                    margin-bottom: 11px;
                    display: flex;
                    align-items: center;
        
                    li {
                        display: flex;
                        align-items: center;
                        margin-right: 16px;
                        color: #20272BC4;
                        font-size: 14px;
        
                        span {
                            margin-right: 10px;
                            line-height: 13px;
        
                            img,
                            svg {
                                height: 14px;
                                width: auto;
                            }
                        }
        
                        .dots-icon {
                            font-size: 20px;
                            color: #20272BC4;
                        }
                    }
                }
                
                .my-tasks-rating {
                    display: flex;
                    align-items: center;
                    margin-top: 10px;
                    padding-left: 15px;
                    border-left: 3px solid rgba(71, 187, 208, 0.3);

                    .inter-name {
                        line-height: 21px;
                        margin-bottom: 4px;
                        font-weight: 500;
                    }
                    
                    .inter-rating {
                        font-size: 14px;
                    }

                    figure {
                        width: 48px;
                        height: 48px;
                        border-radius: 50%;
                        overflow: hidden;

                        img {
                            @include img-object;
                        }
                    }

                    .my-tasks-rating-content {
                        padding-left: 15px;
                    }
                }

                h6 {
                    font-weight: 500;
                    margin-bottom: 15px;
                }

                .chat-icon {
                    margin-left: 6px;

                    svg {
                        width: 12px;
                    }
                }

                p {
                    margin-bottom: 0;
                    line-height: 22px;
                    color: #20272BC4;
                }
            }

        }

        .right-view {
            text-align: right;
            width: 320px;

            .icons-list {
                margin-bottom: 0;

                li {
                    display: inline-block;
                    text-align: center;
                    margin-left: 20px;

                    a {
                        color: rgba(32, 39, 43, 0.77);
                        font-size: 14px;

                        svg {
                            max-width: 16px;
                            max-height: 16px;
                            margin-bottom: 5px;
                        }

                        span {
                            display: inline-block;
                            width: 100%;
                        }
                    }
                }
            }

            .dropdown {
                button {
                    border: none;
                    background: none;
                    transition: 0.4s;
                    margin-bottom: 8px;
                     
                    &:hover {
                        color: #47BBD0;
                    }
                }
                 
                .dropdown-menu {
                    box-shadow: 5px 10px 30px #00000033;
                    border-radius: 4px;
                    border: none;
                    padding: 12px 0;
                    transform: translate(0, 26px) !important;
                    right: 0 !important;
                    left: inherit !important;

                    .dropdown-item {
                        display: block;
                        width: 100%;
                        padding: 4px 20px;
                    }
                }

                
            }

            .chat-btn {
                padding: 0 30px;

                i {
                    margin-right: 6px;
                }
            }

            a.incomplete-list-btn {
                padding: 0 14px;
                border: 1px solid #F9A52B;
                border-radius: 4px;
                display: inline-block;
                color: #20272B;
                line-height: 1.9;

                &:hover {
                    background: #F9A52B;
                    color: #fff;
                }

                i {
                    font-size: 12px;
                    line-height: 0;
                    padding-left: 8px;
                }
            }
        }

    }

    
.badge {
        background: #47BBD0;
        padding: 4px 16px;
        font-size: 14px;
        font-weight: 400;
        border-radius: 50px;
        margin-left: 10px;
}

}


.recent-requests-main {
    display: flex;
    align-items: center;
    width: 100%;
 
   .recent-requests-content {
        text-align: center;
        padding: 110px 0;
        max-width: 450px;
        margin: auto;
        
        figure {
            height: 228px;
            width: auto;
            margin-bottom: 25px;
        }

        h5 {
            font-weight: 500;
            margin-bottom: 12px;
            font-size: 20px;
        }

        p {
            font-size: 16px;
            color: #20272BC4;
            line-height: 21px;
        }
    }
}