.provider-published {
    padding-top: 40px;
    padding-bottom: 120px;

    .provider-published-content {
        text-align: center;

        figure {
            height: 108px;
            width: auto;
            margin-bottom: 15px;
        }

        h5 {
            font-size: 24px;
            font-weight: 500;
            line-height: 32px;
            margin-bottom: 20px;
        }

        p {
            color: #20272BC4;
            line-height: 20px;
            margin-bottom: 20px;
        }

        .gray-br-btn {
            margin-right: 15px;
        }
    }
}